.CurrencyDashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh);
    overflow: visible;
    padding-bottom: 6;
    padding-bottom: 6rem;
    padding-top: 6rem;
    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        color: #186AB4;
        align-items: center;
        font-family: 'Montserrat', sans-serif !important; 
    }
    p{
        font-size: 20px;
        margin-bottom: 4rem;
        text-align: center;

        font-weight: 600;
        color: #186AB4;
        align-items: center;
        font-family: 'Montserrat', sans-serif !important;
    }
    .table-bordered thead th {
        border-bottom-width: 0px;
        text-align: center;
        font-size: 20px;
        color: #186AB4;
        padding: 0;
        border: none;
        font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
}
.table-bordered {

    border: none;
}
.divlabel{
    
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;


}
.labelleft{
    border: 1px solid #186ab4 !important;
    border-radius: 4px !important;
    width: 3rem;
    
    color: #186AB4;
    height: 3rem;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.labelright
{
    border: 1px solid #186ab4 !important;
    border-radius: 4px !important;
    width: 3rem;
    height: 3rem;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
    color: #186AB4;
}
tbody tr {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
    .table-bordered td, .table-bordered th {
        padding: 2em 0;

    }
    img{
        width: 2rem;
        margin-right: 1rem;
    }
    .table-bordered td {
        padding: 2em 0;
        border-right: none;
        border-left: none;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #186AB4;
    
    }
 tbody tr td:first-child {
        text-align: justify;
        padding-left: 2em;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    overflow: visible;
    display: table !important;
}
.showdic{
    display: none;
}
.desshowdic
{
    display: block;
}
@media(max-width: 771px){

.showdic{
    display: block;
}
.desshowdic
{
    display: none;
}
    .CurrencyDashboard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow: visible;
        padding-bottom: 6;
        padding-bottom: 0rem;
        padding-top: 0rem;
        h1{
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            color: #186AB4;
            align-items: center;
            font-family: 'Montserrat', sans-serif !important; 
        }
        p{
            font-size: 16px;
            margin-bottom: 4rem;
            text-align: center;
    
            font-weight: 600;
            color: #186AB4;
            align-items: center;
            font-family: 'Montserrat', sans-serif !important;
        }
        .table-bordered thead th {
            border-bottom-width: 0px;
            text-align: center;
            font-size: 13px;
            color: #186AB4;
            padding: 0;
            border: none;
            font-family: 'Montserrat', sans-serif !important;
      font-weight: 300;
    }
    .table-bordered {
    
        border: none;
    }
    .divlabel{
        
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
    
    
    }
    .labelleft{
        border: 1px solid #186ab4 !important;
        border-radius: 4px !important;
        width: 3rem;
        
        color: #186AB4;
        height: 3rem;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .labelright
    {
        border: 1px solid #186ab4 !important;
        border-radius: 4px !important;
        width: 3rem;
        height: 3rem;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        cursor: pointer;
        color: #186AB4;
    }
    tbody tr {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
        .table-bordered td, .table-bordered th {
            padding: 2em 0;
    
        }
        img{
            width: 1rem;
            margin-right: 0.5rem;
        }
        .table-bordered td {
            padding: 2em 0;
            border-right: none;
            border-left: none;
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            color: #186AB4;
        
        }
     tbody tr td:first-child {
            text-align: justify;
            padding-left: 2em;
        }
    }
}