.navbarc{
    flex-wrap: nowrap !important;
    display: flex;
    width: 100%;
    
    display: flex;
    align-items: center;
    height: 6rem;

    justify-content: space-between;

    
    .inside{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul{
        font-size: 15px;
        font-weight: 600;
        color: #186ab4;
        text-decoration: none;
        list-style-type: none;
    display: flex;
    margin: 0;
    display: flex;
    justify-content: flex-end;
width:100%;
        li{
            padding-right: 13%;
        }
    }
    label{
        margin: 0;
        border-radius: 3px;
        color: #fff !important;
        min-width: 170px;
        text-align: center;
        width: 170px;
        display: flex;
    align-items: center;
    justify-content: center;
        padding: 5px 0 !important;
        color: #186ab4 !important;
        background: #fff;
        min-width: 300px;
        border: 1px solid #186ab4;
        font-weight: bold;
        height: 3rem;
    }
    
}


.true{
    justify-content: space-between;
    z-index: 999999999999999999;
    position: fixed;
    width: 100%;
    top: 0;
}

.false{

}


@media(max-width: 771px){
    .navbarc{
        flex-wrap: nowrap !important;
        display: flex;
        width: 100%;
        
        display: flex;
        align-items: center;
        height: 6rem;
    
        justify-content: space-between;
    .closeimg{
        
        
        position: absolute;
        top: 15px;
        left: 8px;
    }
    
        .asdas{
            height: 100vh;
            position: absolute;
            top: 0;
            background: white;
            z-index: 9999999999999999999999999999999999999999999999999;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3rem;
            width: 100%;
        }
        
.burder{
    position: absolute;
    top: 40px;
    left: 22px;
    cursor: pointer;
}
        .inside{
            display: flex;
            justify-content: center;
padding: 0 !important;
        }
        ul{
        display: block;
     
    width:100%;
            li{
                padding-right: 0%;
                padding-right: 13%;
                margin-top: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            
            
            
            }
        }
        label{
            margin: 0;
            border-radius: 3px;
            color: #fff !important;
            min-width: auto;
            text-align: center;
            width: 80%;
            display: flex;
        align-items: center;
        justify-content: center;
            padding: 5px 0 !important;
            color: white !important;
            background:  #186ab4 !important;
            min-width: 300px;
            border: 1px solid #186ab4;
            font-weight: bold;
            height: 3rem;
            margin-top: 3rem;
        }
        
    }
    
    
    .true{
        justify-content:center;
        z-index: 999999999999999999;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #186AB4;
    }
    
    .false{
    
    }
}    