
body{
	user-select: none; 
}
html {
  scroll-behavior: smooth;
}
.sec-div1
{
	height: calc(100vh - 11rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 1250px !important;
    margin: 0px auto;
  	font-family: 'Montserrat', sans-serif !important;
}
/*-------------*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: -webkit-fill-available;
  width: 110%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(255,255, 255, 0.5);
}
.sec-div1 .column-2 .contents .image-1>div>div:hover .overlay {
  opacity: 1;
}
.sec-div1 .column-2 .contents .image-1>div>div:hover{
	border: 1px solid #186AB4;
}
.sec-div1 .column-2 .contents .image-1>div>div{
	border: 1px solid transparent;
	width: 110%;
}
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fa-user:hover {
  color: #eee;
}
/*----------------*/
@media(min-width: 768px){
	header .navbar-brand>img {
	    height: 85px;
	    width: auto; 
	}
	header{
		height: 120px;
		z-index: 9999;
    	position: relative;
	}
	.section-1 .container.sec-div1{
		height: 100vh;
	    top: -120px;
	    position: relative;
	    padding-top: 120px;
	    vertical-align: middle;
	    margin: auto;
	}
	.navbar {
	    margin: 20px 0 !important;
	}
	header.header-menu{
		/*position: relative;*/
		transition: 0.5s;
	}
	.header-menu.active.scrolling_down{
		position: fixed;
	    z-index: 999;
	    width: 100%;
	    top: -120px;
	    background: #186AB4;
	    box-shadow: 0px 0px 5px #ccc;
	    transition: 0.5s;
	}
	/*.header-menu.active.scrolling_up {*/
	.header-menu.active.scrolling_up {
	    position: fixed;
	    z-index: 99999;
	    width: 100%;
	    height: 70px;
	    top: 0px;
	    background: #186AB4;
	    box-shadow: 0px 0px 5px #ccc;
	    transition: 0.5s;
	}
	header.header-menu.active .navbar-light .navbar-nav a#register:hover{
		color: #186AB4 !important;
		transition: 0.5s;
	}
	header.header-menu.active .navbar-light .navbar-nav .header-btn a{
		border: 1px solid #fff;
		transition: 0.5s;
	}
	.header-menu.active.scrolling_up .navbar-brand svg path {
	    fill: #fff;
	}
	header.header-menu.active.scrolling_up nav.navbar{
		margin-top: 0px !important;
		height: 70px;
	}
	#calculator .modal-content .section-padding{
		width: 100%;
	}
}
@media(min-width: 1650px){
	.section-1 .container.sec-div1{
	    display: grid;
	}
}
@media(min-width: 300px) and (max-width: 767px){
	header .navbar-brand>img {
	    height: 40px;
	    width: auto; 
	    margin: 13px 0;
	}
	header#header-menu{
		height: 69px;
		overflow: hidden;
		transition: 0.5s;
	}
	header.header-menu{
	    background-color: #186ab4;
	    height: 69px;
	    position: fixed;
	    z-index: 99999;
	    top: 1px;
	    width: 100%;
		transition: 0.5s;
	}
	section.section-1{
		margin-top: 69px;
	    width: 100%;
    	overflow: hidden;
	}
}
header a:hover, header a{
    text-decoration: none;
    color: #000;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    top: 80%;
}
header .navbar-light .navbar-brand{
	font-size: 5em;
    font-weight: 100;
    line-height: 1.1;
}
header .navbar-light .navbar-nav .nav-link{
	font-size: 15px;
    font-weight: 600;
    color: #186ab4;
    text-decoration: none;
    transition: 0.4s color;
}
.navbar-light .navbar-nav .active>.nav-link {
    font-weight: 800;
}
header .navbar-light .navbar-toggler .navbar-toggler-icon{
	background-image: none !important;
}
header .navbar-light .navbar-toggler .navbar-toggler-icon svg.mobile-menu-btn:not(:root) {
    overflow: visible !important;
}
header .navbar-light .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon .mobile-menu-btn path{
	transition: 0.5s;
}
header .navbar-light .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon .mobile-menu-btn path:nth-child(1){
	transform: scale(1);
    transition: 0.5s;
}
header .navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .mobile-menu-btn path:nth-child(1){
	transform: scale(0);
    transition: 0.5s;
    transform-origin: 10px 10px;
}
header .navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .mobile-menu-btn path:nth-child(2){
	transform: rotate(45deg);
    transform-origin: 0px 7px;
    transition: 0.5s;
}
header .navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .mobile-menu-btn path:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: 2px 15px;
    transition: 0.5s;
}
header button.navbar-toggler:focus {
    outline: 0;
}
header button.navbar-toggler{
    position: absolute;
    left: 30px;
    top: 15px;
    border: 0px;
}
@media(min-width: 768px){
	header .navbar .navbar-brand .mobile, header .navbar-collapse ul.navbar-nav li.nav-item.mobile{
		display: none;
	}
	nav.navbar {
	    margin-bottom: 0px !important;
	    margin-top: 0px !important;
	    height: 120px;
	}

}
@media(max-width: 500px){
	header#header-menu .navbar-collapse {
		width: 100%;
	}
}
@media(min-width: 501px){
	header#header-menu .navbar-collapse {
		width: 400px;
	}
}
@media(max-width: 767px){
	header .navbar .navbar-brand .desktop{
		display: none;
	}
}
@media(max-width: 991px){
	a.navbar-brand {
		position: absolute;
		top: 0px;
	    padding: 0;
	    left: 47%;
	}
	header#header-menu .navbar-collapse {
	    margin-top: 0px;
	    background: #fff;
	    z-index: 99999;
	    box-shadow: 0px 10px 15px #ddd;
	    position: fixed;
	    left: 0;
	    top: 0px;
	    text-align: center;
	}
	header .navbar-collapse ul.navbar-nav{
	    margin: 7.5px 0px;
	    width: 100%;
	}
	header .navbar-collapse ul.navbar-nav li.nav-item {
		height: 10vh;
    	max-height: 10vh;
	}
	header.header-menu{
		background-color: #186ab4;
		height: 69px;
	}
	header .navbar-light .navbar-nav .nav-link.app-link {
	    padding: 10px 0;
	    text-align: center; 
	    color: #fff !important;
	    border-radius: 5px;
	}
	header .navbar-light .navbar-nav .dropdown:hover:after{
		display: none;
	}
	header .navbar-light .navbar-nav .dropdown .nav-link span.caret {
	    float: right;
	}
}
@media(min-width: 1000px){
	header ul.navbar-nav{
		justify-content: space-between;
    	width: 100%;
    	max-width: 780px;
	    position: absolute;
	    right: 0;
	}
	header .navbar-light .navbar-nav .nav-link{
		height: 36px;
	    padding-top: 20px;
    	padding-bottom: 20px;
	}
	header .navbar-light .navbar-nav a#calculate {
	    color: #186ab4 !important;
	    background: #fff;
	    min-width: 300px;
	}
	header .navbar-light .navbar-nav a#calculate:hover{
	    color: #fff !important;
	    background: #186ab4;
	}
	.navbar-brand{
		display: contents !important;
		line-height: unset !important;
	}
	.header-menu .navbar .navbar-nav .header-btn{
		display: flex;
	}
	.header-menu .navbar .navbar-nav .header-btn a{
		margin: 15px 5px;
	    border-radius: 3px;
	    color: #fff !important;
	    min-width: 170px;
	    text-align: center;
	    width: 170px;
	    padding: 5px 0 !important;
	}
	.header-menu .navbar .navbar-nav .header-btn a#register:hover{
		color: #186ab4 !important;
	}
}
header .navbar-light .navbar-nav .dropdown .dropdown-menu{
	border: 0;
    box-shadow: 0px 5px 25px #ddd;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}
header .navbar-light .navbar-nav .dropdown:hover .dropdown-menu{
	height: fit-content !important;
    overflow: visible !important;
    transition: 0.5s;
}
header .navbar-light .navbar-nav .dropdown .dropdown-menu .dropdown-item{
    padding: 15px 0 15px 20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    text-align: left;
    font-size: 15px;
    color: #666e8b;
    text-decoration: none;
    transition: 0.4s color;
}
header .navbar-light .navbar-nav .dropdown .dropdown-menu{
	width: 100%;
}
a.nav-link.app-link {
    color: #fff !important;
    font-weight: 600;
    background: #186ab4;
    border: 1px solid #186ab4;
    margin: 20px 0px;
    padding: 15px 20px !important;
    transition: 0.5s;
}
a.nav-link.app-link:hover{
	color: #186ab4 !important;
    background: #fff;
    border: 1px solid #186ab4;
    transition: 0.5s;
    box-shadow: inset 0px 0px 1px #186ab4;
}
.sec-div1 .content-3 a.nav-link.app-link i, .sec-div1 .mobile-button a.nav-link i{
	font-size: 1.5em;
}
.sec-div1 .content-3 a.nav-link.app-link, .sec-div1 .mobile-button a.nav-link{
	width: fit-content;
    font-size: 15px;
    min-width: 30%;
    font-weight: bold;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    color: #186ab4 !important;
    margin-right: 1em;
    transition: 0.5s;
    letter-spacing: 1px;
	width: 11rem;
}
.sec-div1 .content-3 a.nav-link.app-link:hover, .sec-div1 .mobile-button a.nav-link:hover{
	color: #fff !important;
	transition: 0.5s;
	background: #186ab4;
}
.sec-div4 .contents p.text-content, .sec-div5 .contents p.text-content, .sec-div6 .contents p.text-content {
    text-transform: capitalize;
}
@media (max-width: 767px) and (min-width: 300px){
	.sec-div1 .column-1 .content-1 p.head-content, .sec-div4 .contents .heading, .sec-div5 .contents .heading, .sec-div6 .contents .heading, .sec-div9 .contents .heading, .sec-div10 .contents .heading, .sec-div11 .contents .heading, .sec-div12 .contents .heading{
	    text-align: left;
	    font-size: 35px !important;
	}
	.sec-div1 .column-1 .content-2 p.text-content {
	    padding-right: 10px !important;
	    margin: 20px 0 !important;
	    font-size: 17px !important;
	    padding-left: 15px;
	    line-height: 30px !important;
	}
	.sec-div1 .contents{
		padding: 0; 
		margin: 30% 0;
	}
	.col-sm-12.mobile-button {
	    font-size: 16px;
	    text-align: center;
    	margin: 0px auto;
	}
	.sec-div1 .col-sm-12.mobile-button {
		display: -webkit-inline-box;
	}
	.content-3.pc-button {
	    display: none;
	}
	.sec-div1 .column-1 .content-1 p.head-content{
		padding-right: 0 !important;
		font-size: 40px !important;
		padding-left: 0;
	}
	.sec-div4 .contents .heading, .sec-div5 .contents .heading, .sec-div6 .contents .heading, .sec-div7 .contents .heading{
		padding: 1em 0 1em 1em !important;
	    background: rgba(24, 106, 180, 0.05);
	    margin-right: 0.5em;
	}
}
@media(min-width: 768px){
	.col-sm-12.mobile-button{
		display: none;
	}
	.sec-div1 .column-1 .content-1 p.head-content{
		padding-right: 0 !important;
		font-size: 4em !important;
		font-weight: 700 !important;
	}
	.sec-div1 .column-1 .content-3{
		display: flex;
	}
	.sec-div4 .contents .heading .top-title, .sec-div5 .contents .heading .top-title, .sec-div6 .contents .heading .top-title, .sec-div7 .contents .heading .top-title{
		display: none;
	}
}
.sec-div4 .contents .heading .top-title, .sec-div5 .contents .heading .top-title, .sec-div6 .contents .heading .top-title, .sec-div7 .contents .heading .top-title{
	font-size: 20px;
}
.sec-div1 .column-1 .content-1 p.head-content, .sec-div4 .contents .heading, .sec-div5 .contents .heading, .sec-div6 .contents .heading, .sec-div9 .contents .heading, .sec-div10 .contents .heading, .sec-div11 .contents .heading, .sec-div12 .contents .heading{
	font-size: 60px;
    font-weight: 700;
    padding-right: 1em;
    color: #186ab4;
    line-height: 1;
}
.sec-div1 .column-1 .content-1{
}
.sec-div1 .col-lg-6.col-sm-12.column-1 {
 padding-left: 30px;
}
.sec-div1 .column-1 .content-2 p.text-content{
    font-size: 19px;
    color: #186ab4;
    line-height: 1.9;
    /* padding-right: 20%; */
    padding: 1em 30% 0em 0;
}
.sec-div1 .column-2 .contents .image-1 img{
	max-height: 513px;
    width: 100% !important;
    height: auto;
}
.sec-div1 .column-2 .contents, .sec-div1 .column-2 .contents .image-1{
	height: 100%;
}
.sec-div1 .column-2 .contents .image-1 img, .sec-div1 .column-2 .contents .image-2 img{
	width: 100%;
}
@media(min-width: 1000px){
	.sec-div1 .column-2 .contents .image-1{
		text-align: right;
	} 	 	
}
.sec-div1 .column-2 .contents .background-img img{
	position: relative;
	z-index: -1;
}
@media (max-width: 467px) and (min-width: 300px){
	.sec-div1 .column-2 .contents{
	    margin: 0px auto 50px;
	    display: block;
	}
	.sec-div1 .column-2 .contents .background-img img{
		width: 100%!important;
	    height: 100%!important;
	    object-fit: cover!important;
	}
}
@media(max-width: 767px){
	.sec-div1 .column-2 .contents .image-2 img {
	    max-height: 300px;
	}
}
.sec-div1 .column-2 .contents .image-2 img{
	left: 50%;
    top: 8%;
    height: 100%;
    z-index: 9;
    width: auto !important;	
}
.container-fluid.sec-div2 {
	margin: 10px 0 0;
	height: 200px;
	background-color: #186ab4;
}
.container-fluid.sec-div2 .heading .head-title{
	font-size: 28px;
	padding-top: 40px; 
	color: #fff;
}
.container-fluid.sec-div2 .content img {
    height: 25px;
    padding: 0px 10px;
}
.sec-div3 .container .card{
	border: 0px solid;
	background-color: transparent;
}
@media (max-width: 767px) and (min-width: 300px){
	.sec-div3 .contents {
	    padding: 4em 0 0em 0;
	}
	.sec-div4 .contents .heading, .sec-div5 .contents .heading, .sec-div6 .contents .heading {
	    padding-bottom: 0em;
	}
	#assets.sec-div3, #howitworks.sec-div4, #bankers.sec-div9{
	    padding-top: 75px;
	}
}
@media (min-width: 768px){
	.sec-div3 .contents {
	    padding: 3em 0;
	}
	.sec-div4 .contents .text-content, .sec-div5 .contents .text-content, .sec-div6 .contents .text-content {
	    margin: 2em 0;
	}
	.sec-div3 .contents p.count{
		padding: 25px 0;
	}
	#howitworks .container, .sec-div5 .container, .sec-div6 .container, .sec-div7 .container{
	    max-width: 100% !important;
	}
	#howitworks .container .column-2 .desktop .contents{
		padding-top: 0 !important;
	}
}
@media(min-width: 1200px){
.sec-div3 div#response{
	padding: 0 5%;
}
}
.sec-div3 .contents p.count svg, .sec-div3 .contents p.count img{
	margin: 0px 10px;
	width: 30px;
	height: 30px;
}
@media(min-width: 1450px){
	.sec-div3 .header p{
		margin: 2em 0 2em;
	}
	.sec-div3 .contents {
	    padding: 4vh 0;
	}
}
@media(min-width: 1450px){
	.sec-div3 .header p{
		margin: 2em 0 0;
	}
}
.sec-div3 .header p.text-content{
    color: #186AB4;
    font-weight: 700;
}
.sec-div3 .header p.text-content a{
    text-decoration: underline;
    color: #186AB4;
    cursor: pointer;
    font-weight: 600;
}
.form-control {
    width: auto !important;
    height: auto !important;
    padding: 1em !important;
}
.sec-div3 .header p.text-content{
	font-size: 20px;
	margin: 1em 0 0;
}
.sec-div3 .header p{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #186AB4;
    align-items: center;
	font-family: 'Montserrat', sans-serif !important;
}
.sec-div3 .contents p.count{
    font-size: 20px;
    color: #454852;
    margin: 0px 1em;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.sec-div3 .contents p{
	font-size: 18px;
	color: #000;
	text-align: center;
}
.sec-div4 .contents .text-content, .sec-div5 .contents .text-content, .sec-div6 .contents .text-content{
	font-size: 17px;
    padding-right: 1em;
    padding-right: 4em;
    text-align: justify;
    line-height: 1.8;
    font-weight: 500;
}
a.nav-link.link2 {
    color: #186ab4;
    font-weight: 600;
    background: #fff;
    border: 2px solid #186ab4;
    padding: 10px 35px !important;
    overflow: auto;
    border-radius: 5px;
    transition: 0.5s;
    width: fit-content;
    font-size: 18px;
}
a.nav-link.link2:hover{
	color: #fff;
    box-shadow: inset 0px 0px 150px #186ab4;
	transition: 0.5s;
}
.sec-div4 .contents{
	height: 100vh;
	padding-top: 0px;
}
.sec-div6 .contents{
	height: 850px;
}
.sec-div6 div#partners_background{
    background-color: #186ab4;
    color: #fff;
    font-size: 3em;
    font-weight: 300;
    margin-top: 2em;
}
.sec-div6 div#partners_background p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
@media(max-width: 500px){
	.sec-div6 div#partners_background{
	    font-size: 2em;
        margin-top: 4em;
	}
	.sec-div13 {
        padding-bottom: 6em;
	}
	.sec-div6 img.background-overlay-4{
		display: none;
	}
}
@media(min-width: 1000px){
	.sec-div5 .contents .column-2, .sec-div6 .contents .column-2 .contents{
	}
	.sec-div4 .contents .column-2 .contents{
	
	}
	header ul li a span.caret {
	    transform: rotate(-90deg);
	    transition: 0.5s;
	}
	header ul li a:hover span.caret {
	    transform: rotate(0deg);
	    transition: 0.5s;
	}
	.sec-div3 {
	    padding-top: 120px;
	    min-height: 100vh;
	    z-index: 9;
    	position: relative;
	}
	.sec-div4 .contents .column-1{
	    padding: calc(0% - (1.75rem * 0)) calc(0% - (1.75rem * 0)) calc(10% - (1.75rem * 0)) calc(20% - (1.75rem * 0));
	    display: flex;
    flex-direction: column;
 
    justify-content: center;
	}
	.sec-div5.first .contents .column-2{
	    padding: calc(0% - (1.75rem * 0)) calc(15% - (1.75rem * 0)) calc(10% - (1.75rem * 0)) calc(5% - (1.75rem * 0));
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.sec-div5 .contents .column-2{
	    padding: calc(8% - (1.75rem * 0)) calc(0% - (1.75rem * 0)) calc(10% - (1.75rem * 0)) calc(20% - (1.75rem * 0));
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.sec-div6 .contents .column-1{
	    padding: calc(8% - (1.75rem * 0)) calc(15% - (1.75rem * 0)) calc(10% - (1.75rem * 0)) calc(5% - (1.75rem * 0));
	}
}
.sec-div4, .sec-div5, .sec-div6, .sec-div7{
	margin: 3em 0;
	/*height: 100vh;*/
}
section.section-1 {
    overflow: hidden;
}
.sec-div4 .contents .column-2, .sec-div6 .contents .column-2{
	padding: 0;
	overflow: hidden;
}
.sec-div5.first .contents .column-1 .contents img, .sec-div6 .contents .column-2 .contents img{
	float: left !important;
}
.col-lg-6.column-1.desktop {
    padding: 0;
	height: 100vh;
}
/*@media(max-width: 1400px){
*/.sec-div4 .contents .column-2 .contents img, .sec-div6 .contents .column-2 .contents img, .sec-div5 .contents .column-1 .contents img{
	width: auto;
    height: inherit;
    float: right;
    box-shadow: 0px 0px 15px rgba(24, 106, 180, 0.5);
    max-height: -webkit-fill-available;
}
/*}*/
@media(max-width: 1700px){
	.sec-div4 .contents .column-2 .contents img, .sec-div6 .contents .column-2 .contents img, .sec-div5 .contents .column-1 .contents img{
		width: auto;
	    height: inherit;
	    float: right;
	    box-shadow: 0px 0px 15px rgba(24, 106, 180, 0.5);
	    max-width: -webkit-fill-available;
	}
}
.sec-div4 img.background-overlay-4, .sec-div6 img.background-overlay-4, .sec-div8 img.background-overlay-4{
    width: 100%;
    height: 1230px;
    position: absolute;
    object-fit: cover;
	margin-top: -200px;
}
.sec-div7 .contents .text-content{
	font-size: 36px!important;
    line-height: 1.3;
    padding: 0 120px;
    color: #186ab4;
    margin-bottom: 0;
}
@media(min-width: 1000px){
	.sec-div8 .contents{
		padding-top: 200px;
	    height: 900px;	
	}
}
@media(min-width: 1200px){
	.sec-div8 .contents .col-lg-12 .video-iframe{
		height: 530px;
		margin-left: 10%;
	}
	
}
.sec-div3 .pagination-container ul>li>span{
	padding: 6px 14px;
	color: #186ab4;
}
.sec-div3 .pagination-container ul li {
    margin: 0 1em 0 0;
}
@media(max-width: 1200px){
	.sec-div8 .contents .col-lg-12 .video-iframe{
		height: auto;
	    width: 90% !important;
	}
}
@media (max-width: 767px){
	.sec-div3 .desktop-view, .sec-div9 .desktop-view{
		display: none;
	}
}
@media (min-width: 768px){
	.sec-div3 .mobile-view, .sec-div9 .mobile-view{
		display: none;
	}
}
.sec-div8 .contents .col-lg-12{
	height: 100%;
}
.sec-div8 .contents .header{
	min-height: 150px;
}
.sec-div9 .contents .heading {
    margin-bottom: 40px;
    text-align: center;
    padding-right: 0;
}
.sec-div9 .contents .heading p{
	/*text-align: justify;*/
}
#bankers.sec-div9{
    padding-left: 25px;
}
#bankers.sec-div9 .container .contents .column-1 .col-lg-12{
    padding-left: 0;
}
a#bankers-sec{
	text-decoration: underline;
}
.sec-div9 .contents .text-content a {
    font-weight: 600;
}
.sec-div9 .contents .text-content {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.sec-div9 .contents ul.options {
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
}
.sec-div9 .contents ul.options li i{
	padding-right: 10px; 
}
.sec-div9 .contents .coin-intrest .coin{
    display: flex;
    font-size: 18px
}
.sec-div9 .contents .coin-intrest .coin .coin-name{
	padding-bottom: 0px;
}
.sec-div9 .contents .coin-intrest .coin .coin-info{
	display: flex;
	width: 60%;
}
.sec-div9 .contents .coin-intrest .coin .coin-info .coin-name{
	padding-top: 15px;
	font-weight: 600;
}
.sec-div9 .contents .coin-intrest .coin .coin-info .coin-name span{
	color: rgba(70, 75, 78, 0.7);
}
.sec-div9 .contents .coin-intrest .coin .interest{
    font-size: 15px;
    width: 20%;
    padding: 15px;
    font-weight: 600;
}
.sec-div9 .contents .coin-intrest .coin .interest span{
	text-decoration: underline;
}
.sec-div9 .contents .coin-intrest .coin .buy-btn{
    padding-top: 15px;
    width: 20%;
    padding-right: 15px;
}
.sec-div9 .contents .coin-intrest .coin .buy-btn a:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
    box-shadow: inset 0px 0px 2px #186ab4;
    transition: 0.5s;
}
.sec-div9 {
    background: #fff;
    padding-bottom: 100px;
}
.sec-div9 .contents .coin-intrest .coin .buy-btn a{
    background: #186ab4;
    color: #fff;
    padding: 5px 10px;
    border-radius: 17px;
    transition: 0.5s;
}
.sec-div10 .contents .heading{
	margin-bottom: 50px;
	padding-top: 10%;
}
.sec-div10 .testimonial p.text-content {
    font-size: 20px;
    margin: 0 8%;
}
.sec-div10 .testimonial .content {
    min-height: 400px;
}
.sec-div10 .testimonial .content .author {
    margin: 10% 8%;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    font-weight: 600;
}
.sec-div10{
	margin-bottom: 2em;
}
.sec-div11 .contents .column-1 img{
	height: 80px;
}
.sec-div11 {
    background: #fff;
    padding-bottom: 10%;
}
.sec-div11 .contents .column-2 .text-contents{
	font-size: 20px;
}
.sec-div11 .contents .column-2 a.read-more:before {
    content: "";
    border-bottom: 1px solid #000;
    width: 85px;
    display: block;
    transition: 0.5s;
    bottom: -3px;
    position: absolute;
    right: 0px;
}
.sec-div11 .contents .column-2 a.read-more:hover:before{
	width: 0px;
    transition: 0.5s;
}
.sec-div11 .contents .column-2 a.read-more:after {
    content: "";
    border-bottom: 1px solid #000;
    width: 0;
    display: block;
    transition: 0.5s;
    transition-delay: 0.5s !important;
}
.sec-div11 .contents .column-2 a.read-more:hover:after{
	width: 87px;
    transition: 0.5s;
    transition-delay: 0.5s !important;
}
.sec-div11 .contents .column-2 a.read-more {
    font-size: 18px;
    color: #000;
    width: 87px;
    position: relative;
    text-decoration: none;
}
.sec-div11 .contents .row{
	padding-bottom: 3em;
}
.sec-div12 .background-overlay-12:before{
	background: url('./img/bg1.svg') center center no-repeat;
	display: block;
    content: "";
    width: 100%;
    height: 1200px;
    position: absolute;
	top: -60px;
    left: 0;
    background-size: cover;
    z-index: -1;
}
.sec-div12{
    margin-bottom: 100px;
}
.sec-div12 .background-overlay-12{
	width: 100%;
    position: absolute;
    /*height: 100%;*/
    left: 0;
}
.sec-div12 .contents .column-1{
	font-size: 18px;
	padding-top: 0;
	padding-left: 30px;
}
.sec-div12 .contents div.heading {
    padding-bottom: 1em;
}
.sec-div12 .contents .column-1 .location {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 14px;
    color: #186ab4;
}
.sec-div12 .contents .column-1 .address {
    padding: 0em 0em 1em 0em;
}
.sec-div12 .contents .column-1 .address .add.email a{
    text-decoration: underline;
}
.sec-div12 .contents .column-1 .address .add a svg{
	width: 30px;
    height: 30px;
    margin-right: 1em;
}
.sec-div12 .contents .column-1 .address .add{
    font-weight: 100;
    padding: 0em 4em 1em 0em;
    color: #186ab4;
}
.sec-div12 .container {
    padding: 15em 0 5em 0;
    z-index: 9999;
    position: relative;
}
/*.sec-div12:before {
    background: #e5eff7;
    content: "";
    position: absolute;
    height: 65%;
    width: 100%;
    display: block;
}*/
.sec-div12 .contents .column-1 .mail-phone, .sec-div4{
    padding-left: 0;
    color: #186ab4;
}
footer, .sec-div6, .sec-div5{
    color: #186ab4;
}
.sec-div12 .contents .column-1 .mail-phone .phone .number span.country-code, footer .sec-div14 .contents .column-1 .foot-logo .foot-contact .f-phone .number span.country-code{
    font-weight: 700;
}
.sec-div12 .contents .column-1 .mail-phone .phone, footer .sec-div14 .contents .column-1 .foot-logo .foot-contact .f-phone{
	padding: 10px 0; 
}
.sec-div12 .contents .column-1 .mail-phone ul.social-links, footer .sec-div14 .contents .column-1 .foot-logo .foot-social ul.social-links{
    display: flex;
    list-style: none;
    padding-left: 0; 
}
.sec-div12 .contents .column-1 .mail-phone ul.social-links li a, footer .sec-div14 .contents .column-1 .foot-logo .foot-social ul.social-links li a{
	color: #186ab4;
    font-size: 25px;
    margin: 0px 12px;
}
@media(max-width: 767px){
	.sec-div12 .contents .column-2 .form-content {
    	padding: 2em 2em !important;
    }	
}
.sec-div12 .contents .column-2 .form-content {
    padding: 2em 6em;
    background: #fff;
    box-shadow: 0 38px 60px 0 rgba(0,0,0,.04), 0 17px 35px 0 rgba(0,0,0,.08), 0 24px 65px 0 rgba(0,0,0,.08);
    border-radius: 10px;
}
.sec-div12 .contents .column-2 .form-content .form-header .f-title {
    font-size: 14px;
    color: #186ab4;
    font-weight: 700;
    margin-bottom: 35px;
}
.sec-div12 .contents .column-2 .form-content .form-header .f-subtitle{
	font-size: 30px;
    font-weight: 700;
    color: #186ab4;
    margin-bottom: 14px;
}
.sec-div12 .contents .column-2 .form-content .form-header .f-content{
    font-size: 14px;
    color: #186ab4;
    padding-bottom: 20px;
}
.sec-div12 .contents .column-2 .form-content .form-body div label{
	font-size: 14px;
    color: #186ab4;
	font-weight: 400;
}
.sec-div12 .contents .column-2 .form-content .form-body div textarea{
	min-height: 97px !important;
}
.sec-div12 .contents .column-2 .form-content .form-body div input, .sec-div12 .contents .column-2 .form-content .form-body div textarea{
	border: 0px solid;
	border-bottom: 1px solid #186ab4;
	width: 100%;
    height: 38px;
    border: none;
    font-size: 16px;
    color: #186ab4;
    margin-bottom: 40px;
    outline: none;
    border-bottom: 1px solid #186ab4;
}
.sec-div12 .contents .column-2 .form-content .form-body div.f-submit input[type="submit"] {
    text-transform: uppercase;
    font-weight: 600;
    background: #186ab4;
    color: #fff;
    border: 1px solid #186ab4;
    border-radius: 5px;
    box-shadow: inset 0 0 100px #186ab4;
    transition: 0.5s;
}
.sec-div12 .contents .column-2 .form-content .form-body div.f-submit input[type="submit"]:hover{
    background: #fff;
    color: #186ab4;
    transition: 0.5s;
    border-bottom: 1px solid;
    box-shadow: inset 0 0 0px #186ab4;
}

.sec-div13 .contents .column-1 .title-text{
	text-align: center;
}
.sec-div13 .contents .column-1 .title-text .foot-social{
	padding: 0px 0 00px;
}
.sec-div13 .contents .column-1 .title-text .foot-social .foot-app-link{
	text-align: center;
    display: inline-flex;
}
@media(min-width: 1000px){
	.sec-div13 .contents .column-1 .title-text .foot-social .foot-app-link a{
		font-size: 2em;
	}
}
@media(max-width: 500px){
	.sec-div13 .contents .column-1 .title-text .foot-social .foot-app-link a{
		width: 100% !important;
		margin-bottom: 1em;
	}
}
.sec-div13 .contents .column-1 .title-text .foot-social .foot-app-link a{
	border: 1px solid #fff;
    transition: 0.5s;
    padding: 0.6em 2em;
    width: 250px;
    margin-right: 0.5em;
    background-color: transparent;
	color: #fff;
	border-radius: 5px; 
}
.sec-div13 .contents .column-1 .title-text .foot-social .foot-app-link a:hover{
	background-color: #fff;
    color: #186ab4;
    border: 1px solid #fff;
	text-decoration: none;
	transition: 0.5s;
}
.sec-div13 .contents .column-1 .itle-text p.head{
	color: #fff;
    font-size: 40px;
    font-weight: 700;

}
.sec-div9, .sec-div9 a{
    color: #186ab4;
}
@media(min-width: 992px){
	header.header-menu.active.scrolling_up .navbar-light .navbar-nav .nav-link{
		color: #fff;
	}
}
@media (max-width: 991px) and (min-width: 320px){
	.sec-div13 .contents .column-1{
	    flex-direction: column;
	    text-align: center;
	}
	.sec-div13 .contents .column-1 .title-text {
	    width: 100% !important;
	    font-size: 11px;
	    padding: 1em 1em 0em !important;
	}
	.sec-div13 .contents .column-1 .newsletter-form input[type="text"] {
	    width: 85%;
	    margin: 0;
	}
	.sec-div13 .contents .column-1 .newsletter-form input[type="submit"] {
	    margin-top: 1em !important;
	    width: 85%;
	    margin-left: 0;
	    background: #dedfe0;
	}
	.sec-div5 .contents .column-1 .contents img{
		width: 100%;
	}
	.sec-div1 .column-2 .contents .image-1 img {
        height: 100% !important;
	    width: auto !important;
	    max-height: 200px;
	}
	.sec-div1 .column-2 .contents .image-1{
		text-align: center;
	}
	.sec-div1 .col-lg-6.col-sm-12.column-2 {
	    overflow: hidden;
	    display: none;
	}
	.container.sec-div1 {
	    min-height: 100vh;
	}
	.sec-div12 .contents{
		padding: 15px;
	}
	.sec-div12 {
	    margin-bottom: 50px;
	}
	.container-fluid.sec-div2{
		height: auto !important;
	    padding-bottom: 5em;
	}
	.sec-div11 .contents .heading{
		padding-top: 20px !important;
		margin-bottom: 20px !important;
	}
	.sec-div4 .contents .column-1, .sec-div5 .contents .column-2, .sec-div6 .contents .column-1, .sec-div7 .contents .column-2{
	    padding: 5% 0 10% 0;
	}
	.sec-div4 .contents .column-1 .text-content, .sec-div4 .contents .column-1>a, .sec-div5	 .contents .column-2 .text-content, .sec-div5 .contents .column-2>a, .sec-div6 .contents .column-1 .text-content, .sec-div6 .contents .column-1>a, .sec-div7 .contents .column-2 .text-content, .sec-div7 .contents .column-2>a{
		margin: 2em;
		line-height: 2;
	}
	.sec-div4 img.background-overlay-4{
		display: none;
	}
	.sec-div4 .contents .text-content, .sec-div5 .contents .text-content, .sec-div6 .contents .text-content {
	    font-size: 16px !important;
	    padding: 0em 0.5em 0em 0em !important;
	}
	.sec-div4 .contents .mobile, .sec-div5 .contents .mobile, .sec-div6 .contents .mobile{
		display: block !important;
	}
	.sec-div4 .contents .desktop, .sec-div5 .contents .desktop, .sec-div6 .contents .desktop{
		display: none;
	}
	.sec-div4 .contents, .sec-div6 .contents {
	    height: auto !important;
	    padding-top: 0px;
	}
	.sec-div4 .contents img, .sec-div5 .contents img, .sec-div6 .contents img{
	    padding: 1em 2em;
	    width: 100% !important;
	    box-shadow: 0px 0px 15px rgba(24, 106, 180, 0.5);
	}
	.sec-div4 .contents a.nav-link.link2, .sec-div5 .contents a.nav-link.link2, .sec-div6 .contents a.nav-link.link2{
		width: 85% !important;
	    text-align: center;
	    padding: 8px 0px !important;
	    margin: 1em auto;
	}
	.sec-div7 .contents .text-content{
		font-size: 26px !important;
	    padding: 0px 0 100px;
	}
	.sec-div8 .contents {
	    padding-top: 100px;
	    height: auto;
	}
	.sec-div8 .contents .col-lg-12 {
	    margin-bottom: 150px;
	}
	.sec-div8 img.background-overlay-4{
		height: 100%;
	}
	.sec-div9 {
	    background: #fff;
	    z-index: 999;
	    position: relative;
	}
	.sec-div9 .contents .contents{
		padding-left: 15px;
	}
	.sec-div9 .contents .heading {
	    margin: 40px 0 10px 0;
	    font-size: 20px !important;
	    padding-right: 0;
	    padding: 0;
	}
	.sec-div9 .contents .text-content {
	    margin-bottom: 15px;
	    padding-right: 0;
	    font-size: 14px;
	    text-align: justify;
	}
	.sec-div9 .contents .text-content a{
		font-size: 16px;
	}
	.sec-div9 .contents ul.options {
	    list-style: none;
	    font-size: 16px;
	    font-family: 'Noto Sans',sans-serif;
	    padding: 0;
	    color: #186ab4;
	    margin-bottom: 60px;
	}
	.sec-div9 .container, .sec-div9 .container .column-1 .coin-intrest .coin{
		padding: 0px; 
	}
	.sec-div9 .container .column-1 .coin-intrest .coin:nth-child(odd){
		width: 95%;
	    margin: 0px auto;
	}
	.sec-div9 .container .column-1 .coin-intrest .coin:nth-child(even){
		background: #ececed;
	    border-radius: 40px;
	    width: 95%;
	    margin: 0px auto;
	}
	.sec-div9 .container .column-1 .coin-intrest .coin .coin-info img{
		padding-top: 9px;
	}
	.sec-div9 .container .column-1 .coin-intrest .coin .coin-info img{
		width: 80px;
		height: 80px;
	}
	.sec-div9 .contents .coin-intrest .coin .coin-info .coin-name {
	    font-weight: 400;
	    font-size: 14px;
	}
	.sec-div9 .contents .coin-intrest .coin .interest{
		font-size: 15px;
		font-weight: 600;
	}
	.sec-div10 .contents div.heading, .sec-div11 .contents div.heading{
		padding-right: 0;
	}
	.sec-div10 .contents .heading p.heading, .sec-div11 .contents .heading p.heading{
		text-align: center;
    	padding-right: 0;
	}
	.sec-div10 .testimonial .content {
	    min-height: auto;
	}
	.sec-div10 .testimonial .content .author{
		position: relative;
	}
	.sec-div10 .testimonial p.text-content{
		font-size: 16px;
		margin: 0; 
		line-height: 1.3;
	}
	.sec-div12 .contents .column-2 {
	    margin-top: 10%;
	    padding: 5px;
	}
	.sec-div13 .contents .column-1 .newsletter-form input[type="text"] {
	    margin-top: 0px !important;
	    width: 90% !important;
	    max-width: 450px !important;
	}
	.sec-div13 .contents .column-1 .title-text p{
		font-size: 30px;
		display: grid;
	}
	.sec-div13 .contents .column-1 .newsletter-form input[type="submit"]{
		width: 90% !important;
	    margin-left: 0 !important;
	    background: #ddd !important;
	    color: #fff !important;
	    max-width: 450px !important;
	    font-weight: 500;
	    text-shadow: 0px 0px 15px #000;
	}
	.col-xs-6 {
	    width: 50% !important;
	}
	footer .sec-div14 .contents .foot-menu .f-menu .f-head-menu{
		font-weight: 600;
	}
	footer .sec-div14 .contents .foot-menu .f-menu {
	    margin: 2em 1em 1em;
	}
	.sec-div1 .column-1 .content-1 {
	    padding-top: 25px !important;
	}
	.sec-div8 .contents .header {
	    min-height: 0px !important;
	}
}
.sec-div11 .contents .heading{
	padding-top: 70px;
	margin-bottom: 80px;
}
.sec-div10 .testimonial p.text-content:before {
    content: "\f10d";
    font: normal normal normal 4em/1 FontAwesome;
    position: absolute;
    color: #dedfe0;
    z-index: -1;
    top: -16px;
    left: -16px;
}
.sec-div4 .contents .mobile, .sec-div5 .contents .mobile, .sec-div6 .contents .mobile{
	display: none;
}
.sec-div13 .contents .column-1{
	width: 100%;
}
.sec-div13 .contents .column-1 .app-section{
	width: 100%;
}
@media(min-width: 768px){
	.sec-div13 .contents .column-1 .title-text p.head {
	    padding: 54px 0 0;
	    color: #fff;
	    font-size: 5em;
	}	
	.sec-div13{
		background: #186ab4;
	    padding-bottom: 14em;
	    position: relative;
	}
}
@media(max-width: 767px){
	.sec-div13 .contents .column-1 .title-text p.head {
	    padding: 54px 0 0;
	    color: #fff;
	    font-size: 3em;
	}	
	.sec-div13{
		background: #186ab4;
	    margin-bottom: 0px;
	}
}
.sec-div13 .contents .column-1 .newsletter-form input[type="text"] {
    margin-top: 100px;
    padding: 10px;
    width: 350px;
    border: 0px;
    font-size: 18px;
    border-radius: 5px;
}
.sec-div13 .contents .column-1 .newsletter-form input[type="text"]:focus, .sec-div13 .contents .column-1 .newsletter-form input[type="submit"]:focus{
    outline: 0;
}
.sec-div13 .contents .column-1 .newsletter-form input[type="submit"] {
    width: 200px;
    margin-left: 1em;
    border: 0;
    font-size: 18px;
    color: #186ab4;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
}
.sec-div13 .contents .column-1 .newsletter-form input[type="submit"]:hover{
    background: #dedfe0;
    transition: 0.5s;
}
.sec-div13 .contents .column-1 .newsletter-form .agree-content{
	font-size: 17px;
    color: #fff;
    padding: 1em 0;
}
footer{
	padding: 5% 0 5% 0;
}
footer .sec-div14 .contents .column-1 .foot-logo .f-logo p{
	font-size: 5em;
}
footer .sec-div14 .contents .column-1 .foot-logo .foot-contact .f-phone{
	font-size: 14px;
    margin-bottom: 12px;
    list-style-type: none;
    text-transform: capitalize;
}
footer .sec-div14 .contents .column-1 .foot-logo .foot-contact .f-address{
	font-size: 14px;
    margin-bottom: 12px;
    list-style-type: none;

}
footer .sec-div14 .contents .foot-menu .f-menu .f-head-menu{
    font-size: 14px;
    color: #8186a9;
    text-transform: capitalize;
    margin-bottom: 12px;
}
footer .sec-div14 .contents .foot-menu .f-menu ul{
	padding-left: 0px;
}
footer .sec-div14 .contents .foot-menu .f-menu ul li{
    margin-bottom: 12px;
    list-style-type: none;
    text-transform: capitalize;
}
footer .sec-div14 .contents .foot-menu .f-menu ul li a{
	font-size: 14px;
    margin-bottom: 12px;
    color: #186ab4;
}
div#topcontrol.active {
    bottom: 85px;
    transition: 0.5s ease-in;
    z-index: 9999;
}
div#topcontrol {
    transition: 0.5s;
    right: 25px !important;
    z-index: 99999;
    position: fixed;
    bottom: -50px;
}
div#topcontrol .fa-angle-double-up{
	font-size: 5em;
    color: #186ab4;
    text-shadow: 0px 0px 3px #fff;
}
@keyframes scrolltop1{
	0%{bottom: 0px;}
	50%{bottom: 35px;}
	100%{bottom: 0px;}
}
.popup-sec {
	display: none;
	position: fixed;
	z-index: 999999999; 
	left: 0;
	top: 0;
	width: 100%; 
	min-height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}
.popup-sec .modal-content{
    min-height: calc(100% - (1.75rem * 2));
    align-items: center;
}
.modal-content .section-padding .header p {
    line-height: 1;
}
#banker-sec2 .modal-content .section-padding .container .row{
	text-align: center;
	font-size: 2.6em;
    font-weight: 600;
    color: #186AB4;
}
#banker-sec2 .modal-content .section-padding .header p{
	padding-bottom: 0px;	
}
#banker-sec2 .modal-content .section-padding .container .row .col-lg-12 p{
    font-weight: 100;
    font-size: 18px;
}
.sec-div3 .form-group{
	display: none;
}
@media(min-width: 320px) and (max-width: 991px){
	.modal-content{
		width: 100%;
	}
	#assest-sec2{
	}
	.modal-content .section-padding .header p{
		font-size: 3em !important;
	}
	.modal-content .section-padding .row .col-lg-12 .pop-menu a.image img{
		height: 60px;
	}
	#assest-sec1 .modal-content .section-padding .row .col-lg-12 .pop-menu{
		display: grid;
	}
	#assest-sec1 .modal-content .section-padding .row .col-lg-12 .header span{
		font-size: 1.6em; 
	}
	#assest-sec1 .modal-content .section-padding .header p{
		padding-bottom: 0;
	}
	#assest-sec1 .modal-content .section-padding .row .col-lg-12 .pop-menu{
		margin: 3em 0;
	}
	#assest-sec1 .modal-content .section-padding .row .col-lg-12 .pop-menu a{
	    margin: 0.4em 0px;
	    padding: 0;
	}
	#assest-sec2 .modal-content .section-padding .row .col-lg-12 .header span{
		font-size: 2.3em;
	}
	#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu .row>div{
		width: 100%;
	}
	#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu .row>div{
		text-align: center;
	    margin: 0.5em 0;
	    width: 100%;
	}
	#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu>p{
		font-size: 18px;
	    font-weight: 400;
	    line-height: 25px;
	}
}
@media(min-width: 768px){
	.modal-content{
		width: 80% !important;
		/*height: 50vh !important;*/
	}
	#assest-sec2 .modal-content{
		height: auto !important;
	}
	.modal-content .section-padding{
		padding: 3% 0;
	}
	#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu .row>div{
		width: 50%;
		margin: 1em 0;
	}
}
#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu div a{
	border: 0px solid;
}
#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu .row{
	margin: 1em auto;
}
#assest-sec2 .modal-content .section-padding .header p{
	padding-bottom: 0;
}
.modal-content .section-padding .row .col-lg-12 .pop-menu{
    margin: 3em 0;
}
.modal-content .section-padding .row .col-lg-12 .pop-menu>p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #186AB4;
}
#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu {
    margin: 1em 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #186AB4;
}
.modal-content {
  	background-color: #fefefe;
  	margin: auto;
  	padding: 20px;
  	border: 1px solid #888;
  	max-width: 1250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  	-webkit-animation-name: animatetop;
  	-webkit-animation-duration: 0.6s;
  	animation-name: animatetop;
  	animation-duration: 0.6s
}
@-webkit-keyframes animatetop {
  	from {top:-300px; opacity:0} 
  	to {top:0; opacity:1}
}
@keyframes animatetop {
  	from {top:-300px; opacity:0}
  	to {top:0; opacity:1}
}
@media(min-width: 1000px){
	.modal-content .section-padding .row{
		width: 80%;
		margin: 0px auto;
	}
}
.modal-content .section-padding .row .col-lg-6 {
    transform: scale(0.8);
}
.modal-content .section-padding .row .col-lg-6 div.active{
	opacity: 0.5;
    cursor: no-drop;
}
.modal-content .section-padding .row .col-lg-6 div span, .modal-content .section-padding .row .col-lg-12 .header span{
	font-size: 2.6em;
    font-weight: 600;
    color: #186AB4;
}
.modal-content .section-padding .row .col-lg-12 .header{
	text-align: center;
	padding: 2em 0;
}
.modal-content .section-padding .row .col-lg-12 .pop-menu{
    margin: 6em 0;
}
.modal-content .section-padding .row .col-lg-12 .pop-menu a img, .social-link a svg{
	margin: 0px 1em;
}
.modal-content .section-padding .row .col-lg-12 .pop-menu a{
	border: 1px solid #186AB4;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	color: #186AB4;
	font-size: 18px;
	line-height: 20px;
	align-items: center;
	text-align: center;
    border-radius: 5px;
    padding: 1em 2em;
}
.modal-content .section-padding .row .col-lg-6 div{
    text-align: center;
}
.modal-content .section-padding .row .col-lg-6 div img{
	height: 200px;
}
.modal-content .section-padding .header p {
    font-size: 4em;
    color: #186AB4;
    text-align: center;
    padding-bottom: 1em;
    font-weight: 600;
}
.modal-content .section-padding .single-loan-slider .sub-line span {
    padding: 0 5px;
    font-weight: 600;
}
@media(min-width: 1000px){
	#assest-sec1 .modal-content .section-padding .container{
		width: 1170px;
		text-align: center;
	}
}
.close:hover{
	transform: rotate(90deg);
	transition: 0.3s;
}
.close {
    color: #186AB4 !important;
    transition: 0.3s;
    float: right;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px !important;
    padding: 0 6px;
    line-height: 0.8 !important;
    border-radius: 20px;
    z-index: 99999;
    background: #ffffff;
    box-shadow: 0px 0px 5px #999;
    opacity: 1 !important;
}
.close:hover,
.close:focus {
  	color: #000;
  	text-decoration: none;
  	cursor: pointer;
}
.single-loan-slider .sub-line{
	display: flex;
}
.single-loan-slider {
    padding: 5% 0 0;
}
.modal-content .section-padding .text-center .result-head{
	padding-bottom: 1em;
}
.single-loan-slider h4, .single-loan-slider .sub-line h6, .single-loan-slider .sub-line span{
    font-size: 2em;
}
@media(min-width: 1000px){
	.total-calculation .single-total {
	    margin: 10% 0;
	}	
	.close {
	    right: -10px;
	    top: -10px;
	}
}
.ui-widget-header {
    background: #186ab4 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #186ab4 !important;
}
a.ui-slider-handle:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
a.ui-slider-handle{
    transform: scale(1.1);
    transition: 0.5s;
    border: 1px solid #186ab4 !important;
}
.ui-slider-horizontal {
    height: 1.5em !important;
}
.ui-slider .ui-slider-handle {
    width: 2em !important;
    height: 2em !important;
}
.slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1.5);
    z-index: 9999;
    position: relative;
}
div.response-section {
    position: relative;
    z-index: 9999;
}
.sec-fixed-footer {
    position: fixed;
    bottom: 2px;
    background: #186ab4;
    color: #fff;
    font-size: 2em;
    display: flex;
    /*text-align: center;*/
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    /*padding: 1em 0;*/
    box-shadow: 0px 5px 15px #fff;
    z-index: 9999;
	height: 5rem;
}
a.footer-login {
    
    background: #fff;
    text-align: center;
    color: #186AB4 !important;
    font-weight: 700;
    border: 4px solid #186AB4;
    width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media(min-width: 768px){
	.sec-fixed-footer div p{
		letter-spacing: 0px;
	}
}
.sec-fixed-footer div p{
	font-size: 22px;
    padding: 0.8em 0px;
    text-align: center;
    position: relative;
    top: 9px;
}
.sec-fixed-footer div p a{
	transition: 0.5s;
}
.sec-fixed-footer div p a:hover{
	transition: 0.5s;
	color: #fff;	
}
@media(min-width: 768px){
	.sec-fixed-footer .mobile-view{
		display: none;
	}
	.mobile-view{
		display: none;
	} 
}
@media(max-width: 991px){
	.navbar-brand .desktop-view{
		display: none;
	}
	.navbar-brand .mobile-view{
		display: block;
		margin-top: 50%;
	} 

}
@media(max-width: 767px){
	.sec-fixed-footer .desktop-view{
		display: none;
	}
	.desktop-view{
		display: none;
	}
	.sec-fixed-footer .mobile-view p.p-content {
	    font-size: 18px !important;
	    padding: 0px 0px !important;
	    text-align: center;
	    font-weight: 600;
	}
	.sec-fixed-footer{
		padding: 15px 0 !important;
	    display: block;
	    text-align: center;
	}
	.sec-fixed-footer a.footer-login {
	    padding: 5px 3em;
	    background: #fff;
	    text-align: center;
	    color: #186AB4 !important;
	    font-weight: 600;
	    border: 2px solid #fff;
	    border-radius: 6px;
	}
	.sec-div3 .header p {
	    font-size: 25px;
	    text-align: left;
	    margin: 15px 15px 15px 0px !important;
	}
	.sec-div3 .header p.text-content {
	    font-size: 13px;
	    font-weight: 100;
	}
}
.header-menu.active .navbar .navbar-brand svg.desktop-view{
	max-height: -webkit-fill-available !important;
}
header .navbar .navbar-brand svg.desktop-view{
	max-height: -webkit-fill-available;
	height: inherit;
}
.navbar-toggler {
    padding: 0 !important;
}
.sec-fixed-footer a{
	color: #fff;
}

@media(min-width: 1000px){
	.sec-fixed-footer span.foot-fix-btn {
		padding: 13px 2em;
	}
}
@media(max-width: 500px){
	.sec-fixed-footer span.foot-fix-btn {
		padding: 13px 1em;
	}
}
.sec-fixed-footer span.foot-fix-btn {
    background: #fff;
    color: #186ab4;
    text-align: center;
    font-weight: 600;
    top: -9px;
    font-size: 80%;
    position: relative;
    margin: 0 ;
    float: right;
    border-radius: 5px;
    border: 1px solid #fff;
}
/*----------*/
pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; 
}
input, button {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

input, select {
  border: 1px solid #CCC;
  width: 250px; }

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

button {
	background: transparent;
    border: 0;
}
.iti {
    position: inherit !important;
}
#result {
  margin-bottom: 100px; }

@media(max-width: 767px; ){
	.sec-div1 .content-3 form{
		display: flex;
	}
}
@media(min-width: 768px; ){
	.sec-div1 .content-3 form button{
		float: right;
		right: 10px;
		position: inherit !important;
	}
}
@media(max-width: 767px){
	.sec-div1 .content-3 form button{
		float: right;
		right: 10px;
		position: absolute;
	}
}
.sec-div1 .content-3 form{
	border: 1px solid rgba(24, 106, 180, 0.25);
	border-radius: 5px;
	padding: 1em;
    display: flex;
    margin-bottom: 1px;
}
.sec-div1 .content-3 .iti__selected-flag{
    background: transparent;
    border-right: 1px solid rgba(24, 106, 180, 0.25);
}
.sec-div1 .content-3 #phone{
	border: 1px solid #fff;
    color: #186ab4;
}
.sec-div1 .content-3 #phone:focus, .iti__flag.iti__us:focus, .iti__selected-flag:focus{
	border: 0px solid;
	outline: 0;
}
.iti__flag {
    box-shadow: inset 2000px 0 0 0 rgba(24, 106, 180, 0.5);
}
.iti__flag-container {
    width: 60px;
}
@media(min-width: 1200px){
	.iti__country-list{ 
	    min-width: 418px;
	}	
	.sec-div1 .content-3 #phone{
	    min-width: 350px;
	    font-size: 15px;
    	font-weight: 600;
	}
}
.iti__flag.iti__us {
    transform: scale(1.5);
	position: absolute;
    left: 18px;
}
.sec-div3 .container table.tablegoeshere{
	margin-top: 50px;
	color: #186AB4;
}
.sec-div9 .contents .column-1 table.tablegoeshere, .sec-div3 .container table.tablegoeshere {
    font-size: 20px;
    width: 100%;
    padding: 1em 15px;
}
.sec-div9 .contents .column-1 table.tablegoeshere tbody tr td, .sec-div3 .container table.tablegoeshere tbody tr td{
    padding: 2em 0;
    font-weight: 600;
}
.sec-div9 .contents .column-1 table.tablegoeshere tbody tr td, .sec-div9 .contents .column-1 table.tablegoeshere thead tr td, .sec-div3 .container table.tablegoeshere tbody tr td{
    text-align: center;
}
.sec-div9 .contents .column-1 table.tablegoeshere thead tr td, .sec-div3 .container table.tablegoeshere thead tr td{
    letter-spacing: -1px;
    transform: 0.8;
    text-align: center;;
}
.sec-div9 .contents .column-1 table.tablegoeshere tbody tr, .sec-div3 .container table.tablegoeshere tbody tr{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.sec-div9 .contents .column-1 table.tablegoeshere tbody tr td .table-image, .sec-div3 .container table.tablegoeshere tbody tr td .table-image, #container tr td img{
    height: 30px;
    width: 30px;
    
}
@media(min-width: 768px){
	.sec-div9 .contents .column-1 table.tablegoeshere tbody tr td:first-child, .sec-div3 .container table.tablegoeshere tbody tr td:first-child{
		text-align: justify;
		padding-left: 2em;
	}
	.sec-div9 .contents .column-1 table.tablegoeshere tbody tr td .table-image, .sec-div3 .container table.tablegoeshere tbody tr td .table-image {
		margin-right: 40px;
	}
	.sec-div3 .container table.tablegoeshere, .sec-div9 .contents table.tablegoeshere{
		display: table !important;
	}
}
@media(max-width: 767px){
	.sec-div9 .contents .column-1 table.tablegoeshere tbody tr td:first-child, .sec-div3 .container table.tablegoeshere tbody tr td:first-child{
		text-align: justify;
		padding-left: 5px;
		font-size: 16px;
		width: 100vw;
	}
	.sec-div9 .contents .column-1 table.tablegoeshere thead tr td, .sec-div3 .container table.tablegoeshere thead tr td{
		font-size: 15px;
	}
	.sec-div9 .contents .column-1 table.tablegoeshere tbody tr td .table-image, .sec-div3 .container table.tablegoeshere tbody tr td .table-image {
		margin-right: 5px;
	}
	.sec-div8{
		display: none;
	}
}
div.navbar-collapse.collapse.show {
    height: 101vh !important;
    transition: 0.5s;
}
.collapse:not(.show) {
    height: 0vh;
    display: none !important;
    transition: 0.5s;
}
@media(max-width: 500px){
	header .container, header .container .navbar{
		padding: 0px !important; 
		border: 0px solid #fff;
		text-align: center;
	}
}
@media(min-width: 768px){
	.mobile-exand-logo, .sec-div1 .column-1 .content-3 .mobile-button{
		display: none;
	}
}
@media(max-width: 991px){
	.mobile-exand-logo{
		display: block;
	    margin: 90px auto;
    	text-align: center;
	}
	button.navbar-toggler {
    z-index: 999999;
	}
	#assest-sec2 .modal-content .section-padding .row .col-lg-12 .pop-menu{
		margin:0px;
	}
	#assest-sec2 .modal-content{
		padding: 20px 20px 0px 20px !important;
	}
	#assest-sec2 .modal-content .section-padding .row .col-lg-12 .header{
		padding: 0;
	}
	button.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon svg path{
		fill: #186ab4;
	}
	button.navbar-toggler[aria-expanded="true"]{
		position: fixed;
		left: 15px;
		top: 15px;
	}
	header .navbar-collapse .navbar-nav .header-btn {
	    margin: 0 13%;
	}
	.sec-div1 .column-1 .content-3 form.form-pc{
		display: none;
	}
	.popup-sec .modal-content{
		width:90%;
		border-radius: 15px;
	}
	.modal-content .section-padding .row .col-lg-6 div span{
		font-size: 1.5em;
	}
	#assest-sec .modal-content .section-padding .row .col-lg-6 div span{
		font-size: 2em;
		line-height: 1.6em;
	}
	.modal-content .section-padding .row .col-lg-6 {
	    transform: scale(0.8);
	}
	.modal-content .section-padding .row .col-lg-6 div img, .modal-content .section-padding .row .col-lg-12 div img{
		height: 150px;
		transform: scale(0.9);
	}
	.modal-content .section-padding .row .col-lg-12>div{
	    transform: scale(0.8);
	}
	.popup-sec .modal-content .section-padding .container{
		padding: 3vh 1vh;
	}
	.close{
		box-shadow: 0px 0px 5px transparent;
		right: 10px;
    	top: 10px;
	}
}
.pagination-container ul li:hover, .giri ul li:hover{
    cursor: pointer;
}
table#tablegoeshere tbody tr, #container tr, #container1 tr, table#tablegoeshere1 tbody tr{
	display: none;
}
#tablevalue-assets tr:nth-child(1), #tablevalue-assets tr:nth-child(2), #tablevalue-assets tr:nth-child(3), #tablevalue tr:nth-child(1), #tablevalue tr:nth-child(2), #tablevalue tr:nth-child(3), #container tr:nth-child(1), #container tr:nth-child(2), #container tr:nth-child(3), #container tr:nth-child(1), #container tr:nth-child(2), #container tr:nth-child(3), #container1 tr:nth-child(3), #container1 tr:nth-child(2), #tablegoeshere1 tbody tr:nth-child(3), #tablegoeshere1 tbody tr:nth-child(2){
	display: table-row; 
}
.pagination-container{
	float: right;
}
.pagination-container ul>li span{
	font-size: 20px;
	font-weight: 600;
}
.giri ul, .pagination-container ul{
    float: right;
    display: flex;
}
.pagination-container ul li{
	border: 0px !important;
}
.giri ul li, .pagination-container ul li{
    margin: 2em 1em 0 0;
    list-style: none;
    border: 1px solid;
    padding: 2px 0px;
    border-radius: 4px;
}
.giri ul li span, .pagination-container ul li span{
	font-size: 20px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 4px;
}
.pagination-container ul>li>a, .pagination-container ul>li>span{
    border: 1px solid #186ab4 !important;
    border-radius: 4px !important;
}
.tablemanager tr td{
	color: #186ab4;
}
@media(max-width: 767px){
	.tablegoeshere.desktop{
	}
	#tablevalue-assets tr.desktop, .tablegoeshere thead, #container tr.desktop{
		display: none !important;
	}
	.tablegoeshere tbody tr td div .row .col-sm-4 {
		width: 33%;
		padding: 0 0 0 15px;
	}
	.tablegoeshere tbody tr td div .row{
		padding: 0 0 0 1em;
		overflow: hidden;
	}
	.tablegoeshere tbody tr td div .row .col-sm-4 p span{
		font-weight: 100;
		font-size: 10px;
	}
	.tablegoeshere tbody tr td div.heading p{
		margin-left: 1em;
		text-align: left;
	}
	.tablegoeshere tbody tr td div.heading p img{
		margin-right: 1em;
	}
	.tablegoeshere tbody tr td div.heading{
		padding: 1em 0;
		margin: 0;
		overflow: hidden;
	}
	.tablegoeshere tbody tr td{
		padding: 0em 0 !important;
	}	
	.tablegoeshere{
		padding: 1em 5px;
	}
	.sec-div13 {
	    background: #fff;
	}
	.sec-div9 .contents .column-1 table.tablegoeshere, .sec-div3 .container table.tablegoeshere{
		padding: 1em 0px 1em 15px;
	}
	table.tablegoeshere tbody{
		float: right;
		padding-bottom: 1em;
	}
	table.tablegoeshere{
		overflow: hidden;
	}
	.sec-div3 .container{
		padding-right: 0px;
	    padding-left: 0px;
	}
	#assets.sec-div3{
		padding-left: 30px;
	}
	.sec-div13 .app-section{
		display: none;
	}
}
a{
	cursor: pointer;
}
#tablevalue-assets-mobile tr:nth-child(1), #tablevalue-assets-mobile tr:nth-child(2), #tablevalue-assets-mobile tr:nth-child(3){
	display: block !important;
}
.tablegoeshere{
	border: 0px solid !important;
}
@media(min-width: 768px){
	.tablegoeshere.mobile{
		display: none;
	}
}
#tablevalue-assets-mobile tr td div.heading p img, .tablegoeshere tbody tr td img{
	width: 30px;
	height: 30px;
}
#myModal1 .modal-content{
    width: auto !important;
    padding: 0;
    height: auto !important;
    text-align: center;
    border-radius: 10px;
}
#myModal1 .modal-content .footer-popup p:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#myModal1 .modal-content .footer-popup p{
	min-width: 500px;
    padding: 1em 0;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}
#myModal1 .modal-content .footer-popup p img{
	margin: 0 3px; 
}
#myModal1 .modal-content section, #myModal1 .modal-content div{
	padding: 0px;
	margin: 0px;
}
#myModal1 .footer-popup .first{
	color: #186AB4;
}
#myModal1 .footer-popup .second{
	background: #5741D9;
	border: 1px solid #5741D9;
}
#myModal1 .footer-popup .third{
	background: #186AB4;
}
#myModal1 .footer-popup .four{
	background: #242424;
}
#myModal1 .footer-popup .five{
	background: #1AA2A0;
}
.modal-backdrop.fade {
    opacity: 0;
    display: none;
}
a#footer-popup-btn {
    cursor: pointer;
}
@media(min-width: 768px){
	.copyright-menu-btm{
        text-align: right;
	    font-size: 20px;
	    display: inline-flex;
	    padding: 0 1em 1em 0;
	    float: right;
	    position: absolute;
	    bottom: 4em;
	    right: 0;
	}
	.copyright-menu-btm a{
		color: #fff;
		margin: 5px 10px;
		text-decoration: none;
	}
}
@media(max-width: 767px){
	.copyright-menu-btm{
		margin-bottom: 100px;
		text-align: center;
	}
	.copyright-menu-btm a{
		color: #186AB4;
		margin: 0px 1em;
	    font-size: 12px;
		text-decoration: none;
	}
}
#myTable tbody tr td{
	text-transform: capitalize;
}
#myTable tbody tr td .table-image:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;

  background-size: contain;
}
/*------Terms and Conditions----------*/
@media(max-width: 767px){
	.terms-sec-div1 .container .row .header{
	    margin: 2em 0 1em 0;
	    font-size: 35px;
	    font-weight: bold;
	    color: #186AB4;
	}
	.terms-sec-div1 .container .row .content p, .terms-sec-div1 .container .row .content ul li{
		color: #186AB4;
	    font-size: 15px;
	}
	.terms-sec-div1 {
	    padding-bottom: 100px;
	    margin: 0 25px;
	}
}
@media(min-width: 768px){
	.terms-sec-div1 .container .row .header{
	    margin: 2em 0 1em 0;
	    font-size: 60px;
	    font-weight: bold;
	    color: #186AB4;
	}
	.terms-sec-div1 .container .row .content p, .terms-sec-div1 .container .row .content ul li{
		color: #186AB4;
	    font-size: 19px;
	}
	.terms-sec-div1 {
	    padding-bottom: 100px;
	    margin-bottom: 100px;
	}
}
.howitworks-popup table tbody tr td img{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
@media(max-width: 771px){
	.howitworks-popup .modal-content{
		max-width: 360px;
	}
	.sec-div4{
		margin: 0 !important;
	}
	.sec-fixed-footer a.footer-login {
		padding: 5px 3em;
		background: #fff;
		text-align: center;
		color: #186AB4 !important;
		font-weight: 600;
		border: 2px solid #fff;
		border-radius: 6px;
		display: none !important;
	}
	.sec-div1 .content-3 a.nav-link.app-link {
		width: -moz-fit-content;
		width: fit-content;
		font-size: 12px;
		min-width: 30%;
		font-weight: bold;
		background: #fff;
		text-align: center;
		border-radius: 5px;
		color: #186ab4 !important;
		margin-right: 1em;
		transition: 0.5s;
		letter-spacing: 1px;
		width: 8rem;
	}
}
.howitworks-popup .modal-content{
	height: auto !important;
	transition: 0.5s;
}
.howitworks-popup table tbody tr td {
    font-size: 19px;
    padding: 1em 0 1em 1em;
    text-align: justify;
    font-weight: 500;
    color: #186AB4;
}
.modal-open .modal {
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    transition: 0.5s;
}
.howitworks-popup .modal-content .modal-body .footer-popup{
	max-height: 400px;
    overflow: auto;
}
.howitworks-popup .modal-content .modal-body .footer-popup::-webkit-scrollbar {
  width: 1em;
}
 
.howitworks-popup .modal-content .modal-body .footer-popup::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.howitworks-popup .modal-content .modal-body .footer-popup::-webkit-scrollbar-thumb {
  background-color: #186AB4;
  outline: 1px solid slategrey;
}
/*div#app-link a:nth-child(3), div#app-link a:nth-child(4), p#app-link-foot a:nth-child(3), p#app-link-foot a:nth-child(4){
	display: none;
}*/
div#app-link a:nth-child(1), div#app-link a:nth-child(2), p#app-link-foot a:nth-child(1), p#app-link-foot a:nth-child(2){
	display: block;
}
div#app-link a, p#app-link-foot a{
	display: none;
}
.goog-te-gadget .goog-te-combo{
	height: 36px;
	color: #186AB4;
    font-family: 'Montserrat', sans-serif !important;
    border: 1px solid #186AB4;
    padding: 0px 7px;
    border-radius: 6px;
    background: #fff;
}
.goog-te-gadget {
    color: transparent !important;
}
.goog-te-gadget>span{
	display: none;
}
.skiptranslate iframe {
    display: none;
}